<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Name="PendingRebootBundle" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="70b4bbf0-acdc-4f33-8f39-610f88e39b4e">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication LicenseUrl="https://www.example.com/license" Theme="hyperlinkLicense" />
    </BootstrapperApplication>

    <Chain>
      <ExePackage SourceFile="..\Output\NoRebootBundle\NoRebootBundle.exe" >
        <ArpEntry Id="PendingRebootBundle"
                  Version="1.0.0.0"
                  Win64="yes"/>
      </ExePackage>
    </Chain>

  </Bundle>
</Wix>
